<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden" style="display: flex !important;">
  <div class="ui container">
    <a class="item" href="/">Главная</a>
    <a class="item" href="/events">Ивенты</a>
    <a class="item" href="/reports">Отчеты</a>
    <a class="item" href="/about">О нас</a>
    <a class="item" href="/cooperation">Сотрудничество</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Вход</a>
      </div>
      <div class="item">
        <a class="ui primary button">Регистрация</a>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left">
    <a class="item" href="/">Главная</a>
    <a class="item" href="/events">Ивенты</a>
    <a class="item" href="/reports">Отчеты</a>
    <a class="item" href="/about">О нас</a>
    <a class="item" href="/cooperation">Сотрудничество</a>
  <a class="item">Вход</a>
  <a class="item">Регистрация</a>
</div>
