<div class="ui vertical stripe center aligned segment">
  <div class="ui text container">
    <h3 class="ui header">Хотите поддержать проект?</h3>
    <p>Нам очень приятно, что вы не остаётесь в стороне и активно участвуете в жизни сообщества. Все пожертвования будут направлены на дальнейшее развитие нашего движения.</p>
    <a class="ui large button">Поддержать проект</a>
  </div>
</div>