<div class="ui container">
  <div class="ui large secondary inverted pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <a class="item" href="/">Главная</a>
    <a class="item" href="/events">Ивенты</a>
    <a class="item" href="/reports">Отчеты</a>
    <a class="item" href="/about">О нас</a>
    <a class="item" href="/cooperation">Сотрудничество</a>
    <div class="right item">
      <a class="ui inverted button">Вход</a>
      <a class="ui inverted button">Регистрация</a>
    </div>
  </div>
</div>