<!DOCTYPE html>
<html lang="en">
<script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script> <!--TODO: ну это пздц)) -->
<head>
    <% include ../partials/head %>
</head>
<body class="pushable" style="" cz-shortcut-listen="true">
  <% include ../partials/alternative_menus %>
  <div class="pusher">
    
    <!--BLACK_BLOCK-->
    <div class="ui inverted vertical masthead center aligned segment">
  
      <!--HEADER-->
      <% include ../partials/header %>
      
      <!--MAIN_BLACK_BLOCK-->
      <% include ../partials/develop %>
    
    </div>
    <!--BLACK_BLOCK END--> 
    
    <!--DONATION_BLOCK-->
    <% include ../partials/donation %>
    <!--DONATION_BLOCK END-->
    
    <!--FOOTER-->
    <% include ../partials/footer %>
    <!--FOOTER END-->
    
    </div>
    <domflags id="domflags-root"></domflags>
</body>
</html>
