<!-- views/pages/reports.ejs -->

<!DOCTYPE html>
<html lang="en">
<script id="tinyhippos-injected">if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }</script> <!--TODO: ну это пздц)) -->
<head>
    <% include ../partials/head %>
</head>
<body class="pushable" style="" cz-shortcut-listen="true">
  <% include ../partials/alternative_menus %>
  <div class="pusher">
    
    <!--BLACK_BLOCK-->
    <div class="ui inverted vertical masthead center aligned segment">
  
      <!--HEADER-->
      <% include ../partials/header %>
      
      <!--MAIN_BLACK_BLOCK-->
      <div class="ui text container">
        <h1 class="ui inverted header">
         Раздел находится в разработке...
        </h1>
        <!--<div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>-->
      </div>
    
    </div>
    <!--BLACK_BLOCK END--> 
    
    <div class="ui vertical stripe center aligned segment">
      <div class="ui text container">
        <h3 class="ui header">Хотите поддержать проект?</h3>
        <p>Нам очень приятно, что вы не остаётесь в стороне и активно участвуете в жизни сообщества. Все пожертвования будут направлены на дальнейшее развитие нашего движения.</p>
        <a class="ui large button">Поддержать проект</a>
      </div>
    </div>
    
    <!--FOOTER-->
    <% include ../partials/footer %>
    <!--FOOTER END-->
    
    </div>
    <domflags id="domflags-root"></domflags>
</body>
</html>